version: '3'
services:

  web:
    build:
      context: services/web
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - ./services/web/conf/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./services/web/conf/snippets/self-signed.conf:/etc/nginx/snippets/self-signed.conf
      - ./services/web/conf/snippets/ssl-params.conf:/etc/nginx/snippets/ssl-params.conf
      - ./services/web/ssl/certs/dhparam.pem:/etc/ssl/certs/dhparam.pem
      - ./services/ssl/server.crt:/etc/ssl/certs/server.crt
      - ./services/ssl/server.key:/etc/ssl/private/server.key
    depends_on:
      - login-api
      - web-ui

  web-ui:
      build:
        context: services/client
      working_dir: /client
      environment:
        - NODE_ENV=development
      volumes:
        - ../web-ui:/client
#        - ./docker/ssl/server.crt:/etc/ssl/certs/server.crt
#        - ./docker/ssl/server.key:/etc/ssl/private/server.key
      ports:
        - 8081:8080
      command: "npm run dev"

  login-api:
    build:
      context: services/api
    volumes:
      - ../login-api:/var/www/api
    depends_on:
      - postgres

  postgres:
    build:
      context: services/postgres
    command: postgres -c logging_collector=on -c log_destination=stderr -c log_directory=/var/log/postgres -c config_file=/etc/postgres/postgresql.conf
    volumes:
      - ./services/postgres/data:/var/lib/postgresql/data
      - ./services/postgres/logs:/var/log/postgres
      - ./services/postgres/config:/etc/postgres
    ports:
      - 5432:5432
    environment:
      - "POSTGRES_PASSWORD=postgres"
